* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

table {
  margin: auto;
}

#level-title {
  font-size: 1.5rem;
  line-height: 1.3;
margin: 1rem auto;
  color: #FEF2BF;
  width: 400px;
}

.long-bar {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  line-height: 3rem;
  border: 10px solid black;
  color: #FEF2BF;
  background-color: #012a55;
  border-radius: 25px;
}

.start {
  padding: 1rem 0;
  width: 100%;
}

.left-btn {
  margin: 10% auto 0 0;
  min-height: 175px;
  width: 95%;
  border: 10px solid black;
  border-radius: 20%;
}

.right-btn {
  margin: 10% 0 0 auto;
  min-height: 175px;
  width: 95%;
  border: 10px solid black;
  border-radius: 20%;
}

.container-for-all p {
  color: #FEF2BF;
  font-size: 0.7rem;
  line-height: 1.4rem;
  width: 400px;
  margin: 1rem auto;
}

.score {
  padding: 1rem 0;
  width: 100%;
  margin-top: 1rem;
}

.switch {
  padding: 1rem 0;
  width: 100%;
  margin-top: 0.5rem;
}

.score-board {
  visibility: hidden;
  position: absolute;
  background-color: red;
  padding: 2rem;
  z-index: 2;
  transform: translate(-50%, 0);
  left: 50%;
  margin: auto;
  top: 1rem;
  width: 700px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.well-done {
  background-color: green;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* -------------------------------------------------------------------------- */
@media (max-width: 1200px) {
  #level-title {
    font-size: 1.1rem;
    width: 300px;
  }

  .long-bar {
    font-size: 1.3rem;
    border: 6px solid black;
  }

  .start, .score, .switch {
    padding: 0.5rem 0;
  }

  .left-btn, .right-btn {
    min-height: 125px;
    border: 6px solid black;
  }

  .container-for-all p {
    width: 300px;
    font-size: 0.5rem;
    line-height: 1.2rem;
    margin-top: 0.5rem;
  }

  .score-board {
    width: 400px;
  }
}

@media (max-width: 500px) {
  #level-title {
    font-size: 0.8rem;
    width: 210px;
  }

  .long-bar {
    font-size: 0.8rem;
    border: 4px solid black;
    border-radius: 15px;
  }

  .start, .score, .switch {
    padding: 0.05rem 0;
  }

  .left-btn, .right-btn {
    min-height: 80px;
    border: 4px solid black;
  }

  .container-for-all p {
    width: 210px;
    font-size: 0.4rem;
    line-height: 1rem;
  }

  .score-board {
    width: 300px;
  }
}
